*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif; 
    margin: 0;
    padding: 0;
    color:#333A44;
    
}
:root {
--black-color: #333A44;
--dark-silver: #7A6969;
--khaki-color: #E7D4C0;
--pale-blue: #B6EAF1;
--platinum: #EDE9E2;
--Red-Pictorial-Carmine:  #C80E50;
--font-second: 'Hanken Grotesk', sans-serif;
--Red-button: #C72D22;
--blue: #2B6197;
}

/*====================================*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*--------HEADER - LOG BUTTONS--------*/
/*====================================*/

.log-button {
        margin-left: 1rem;
        
        
        color: #fff;
        padding: 0.5rem 1.5rem;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 2rem;
        z-index: 0;
        background: #DD7513;
        overflow: hidden;
        border: 2px solid var(--black-color);
        
        font-size: 1.2rem;
}
.log-button:hover {
        color: var(--black-color);
}
.log-button:hover:after {
        width: 100%;
}
.log-button:after {
        content: "";
        position: absolute;
        z-index: -1;
        transition: all 0.3s ease;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        color: var(--black-color);
        background: var(--platinum);
}


.heroSection {
    
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 2rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/*====================================*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*--------HEADER - WITH RED LOGO--------*/
/*====================================*/

.single-post-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    margin: 0 10rem;
}
/*====================================*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*--------SPOTLIGHTS --------*/
/*====================================*/
.spotlight {
    background-color: #DBE9E9;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
   
}

.spotlight-content {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    
}

.spotlight-slide {
    height: 37rem;
    width: 50rem;
}

.spotlight-items {
    background-color: whitesmoke;
    width: 27%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spotlight-news{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.london-guide {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}
/*====================================*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*--------NEWSLETTER --------*/
/*====================================*/
.newsletter {
    width: 100%;
    background-image: url(../Assets/dome.jpg);
    text-align: center ;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-content {
    background-color: whitesmoke;
    width: 80%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1rem;
}
.N-body {
    height: 100%;
    border: 0.5px dotted rgb(187, 181, 181);
    display: flex;
    flex-direction: column;
    
}

.N-child-1{
    width: 100%;
    height: 15%;
    background-color: pink;
    
}

#child-1a {
    writing-mode: vertical-lr;
    rotate: 180deg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
    gap: 1rem;
}
.N-child-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem
}
.subcribe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    gap: 1rem;
    
    
}

.subcribe-input {
    width: 30rem;
    height: 3rem;
    border-radius: 0.7rem;
}

/*====================================*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*--------FOOTER --------*/
/*====================================*/

.footer {
    width: 100%;
    height: 50vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
    border-bottom: 1rem solid #B5A197;
    
}

.foot-navigator {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.2rem;
}
.footNav-items {
    text-decoration: none;
    color: var(--black-color)
}

.social-bar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.socialBar-items {
    font-size: 2rem;
    color: var(--black-color)
}

/*====================================*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*--------LONDON GUIDE --------*/
/*====================================*/
.london-guide{
    padding: 3rem;
    height: max-content;
    text-align: center;
}
.guide-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 2rem 0;
}

.guide-items {
    width: 17rem;
    height: 17rem;
    background-color: #B6EAF1;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.guide-topic {
    color: var(--black-color);
    text-decoration: none;
    font-size: 3rem;
}

.guide-topic h3 {
    font-size: 1.7rem;
}
.guide-topic p {
    font-size: 1.2rem;
}

.main-h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: whitesmoke;
    font-size: 3rem;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
    
}

/*====================================*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*--------SERVICE PROVIDER CARDS--------*/
/*====================================*/

.S-provider-card {
    background-color: var(--platinum);
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 1.1rem;
}

.S-provider-card-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px dotted #7A6969;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 0;
}

.S-provider-card-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    margin: 1rem 0 ;
}

.S-provider-buttons {
    text-align: center;
    cursor: pointer;
    border: 1px solid #333A44;
    padding: 0.7rem 0.8rem;
    color: whitesmoke;
    vertical-align: top;
    border-radius: 3px;
    background: var(--blue);
    font-weight: 600;
    line-height: 16px;
    font-size: 1.1rem; 
    border-radius: 0.5rem;
}